@import 'tailwindcss';

:root {
  --color-blue-950: #202733;
  --color-blue-900: #313A48;
  --color-blue-600: #4F5D74;
  --color-blue-200: #CEE3E9;
  --color-green-300: #53FFAA;
}

body {
  font-family: 'Manrope', sans-serif;

  @apply bg-[var(--color-blue-950)]
}

.card {
  @apply relative bg-[var(--color-blue-900)] pt-10 pr-6 pl-6 pb-9 md:pt-12 md:pr-12 md:pl-12 md:pb-9 flex flex-col justify-center items-center rounded-xl shadow-lg w-full max-w-[540px] mx-4;
}


.adviceID {
  @apply text-[var(--color-green-300)] text-[13px] leading-[135%] tracking-[4px] font-extrabold mb-6 text-center;
}

.adviceData {
  @apply font-extrabold text-[var(--color-blue-200)] text-[24px] sm:text-[28px] leading-[135%] tracking-[-0.3px] text-center;
}

.btn {
  @apply absolute left-1/2 bottom-0 -translate-x-1/2 translate-y-1/2 w-[64px] h-[64px] rounded-full grid place-items-center bg-[var(--color-green-300)] shadow-lg cursor-pointer;
}

.btn:hover {
  box-shadow: 0 0 24px rgba(83, 255, 170, 0.55);
}

.btn:active {
  box-shadow: 0 0 40px 6px rgba(83, 255, 170, 0.65);
  transform: scale(0.95);
}