@import 'tailwindcss';

:root {
  --color-blue-950: #202733;
  --color-blue-900: #313A48;
  --color-blue-600: #4F5D74;
  --color-blue-200: #CEE3E9;
  --color-green-300: #53FFAA;
}

body {
  font-family: 'Manrope', sans-serif;

  @apply bg-[var(--color-blue-950)]
}

.card {
  @apply bg-[var(--color-blue-900)] p-12 flex flex-col justify-center items-center rounded-xl mx-4 w-[540px]
}

.adviceID {
  @apply text-[var(--color-green-300)] text-[13px] leading-[135%] tracking-[4px] font-extrabold mb-6;
}

.adviceData {
  @apply font-extrabold text-[var(--color-blue-200)] text-[28px] leading-[135%] tracking-[-0.3px] text-center mb-10;
}